html, body, main{
  min-height: 100%;
}

.app{
  height:100vh;
  display: flex;
  flex-flow: column;
  font-family: "Roboto", sans-serif;
}

a{
  text-decoration:none;
}

li{
  list-style: none;
}

ul{
  margin:0;
  padding:0;
}

main{
  display:flex;
}

section{
  flex:1;
}