.skill__list{
  color: $gray;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.table__header{
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300;
}

.table__data{
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300;
}