.blog{
  display:flex;
  flex-flow:column;
  justify-content: space-around;
  align-items: flex-start;

  input{
    font-family: 'Roboto', sans-serif;
  }

  textarea{
    width:500px;
    height:170px;
    resize: none;
    font-family: 'Roboto', sans-serif;
  }

  button{
    width:110px;
    height:45px;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: $green;
    border:0;
    border-radius:5px;
    cursor: pointer;
  }
}

